*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}
body
{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background: #dad3cd; 
}
.box
{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(171, 188, 219, 0);
    border-radius: 20px 20px 20px 20px;
}
.header{
    position: relative;
    width: 0px;
    height:590px;
    text-align: center;
}
.header h1{
    text-align: center;
    font-size: 3rem;
    color: #f13809;
}
.title-box
{
    
    width: 1px;
    height: 0px;
}
.title-box img
{
    width: 3px;
    margin-bottom: -10px;
}
.title-box p {
    height: 1px;
    width: 300px;
    color: #000;
    font-size: 19px;
    font-weight: 1px;
    line-height: 30px;
}
form
{
    position: absolute;
    inset: 1px;
    width: 370px;
    height: 380px;
    border-radius: 40px 40px;
    background: #f9f9fa;
    z-index: 10;
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
}
h2
{
    color: #f56f16;
    font-size: 33px;
    font-weight: 500;
    text-align: left;
}
.inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputBox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
input[type="submit"]:hover{
        background: linear-gradient(90deg,#f13809,#bc0ae9);
        opacity: 0.8;
}
input[type="submit"]
{
    font-size: 23px;
    border: none;
    outline: none;
    background:#ff6f0f;
    padding: 5px;
    margin-top: 5px;
    border-radius: 90px;
    font-weight: 600px;
    cursor: pointer;
}
input[type="submit"]:active
{
    background: linear-gradient(90deg,#f13809,#bc0ae9);
    opacity: 0.8;
   

}
.inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8d8d8d;
    pointer-events: none;
    letter-spacing: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #f56f16;
    transform: translateX(-10px) translateY(-30px);
    font-size: 0.75em; 
}
.inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: .125rem;
    background: #c51700;
    border-radius: .125rem;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    width: 150px;
    margin: 30px 0;
    margin-left: 4.5rem;
    font-size: 1em;
    color: #333333;
    text-decoration: #333333;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #c51700;
}
.links2{
    display: flex;
    justify-content: space-between;

}
.links2 a{
    margin: 1rem;
    font-size: 0.9rem;
    color: #333333;
    text-decoration: #333333;
}
.links2 a:hover,
        .links2 a:nth-child(2)
        {
            color: #c51700;
        }

/*----------------------Responsive--------------------------------*/
    
    @media only screen and (max-width: 768px){

        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "poppins" , sans-serif;
        }
        body
        {
            align-items: center;
            background-image: url("img/background2.png");
          /*  background: linear-gradient(20deg, #c51700, #dadada, #8709ee );  */
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: .66rem;
            min-height: 600px;
            justify-content: center ;
            display: flex;
        }
       
        .box
        {
            justify-content: center;
            display: flex;
            height: 29.4rem;
            position: relative;
            width: 67vw;

            background: #38353300; 
        }
        .header{
            position: relative;
            height: 36.875rem; 
            width: 1vw;
            text-align: center;
        }
        .header h1{
            text-align: center;
            font-size: 2.5rem;
            color: #f13809;
            width: 20rem;
        }
        .title-box
        {
            width: 1vw;

            height: 0rem;
        }
        .title-box img
        {
            width: .188rem;
            margin-bottom: -.625rem;
        }
        .title-box p {
            height: .0623rem;
            color: #000;
            font-size: 1.19rem;
            font-weight: 1vw;
           line-height: .98rem; 
        }
        form
        {
            position: absolute;
            inset: .0125rem;
            width: 15.375rem;
            height: 31.88rem;
            border-radius: 3.125rem 3.125rem;
            background: #f3dcdc00;
            z-index: 10;
            padding: 1.875rem 1.25rem;
            display: flex;
            flex-direction: column;
        }
        
        h2
        {
            color: #f56f16;
            font-size: 2.1rem;
            font-weight: 31.25rem; 
            text-align: left;
        }
        
        .inputBox
        {
            position: relative;
            width: 50vw;
            margin-top: 2.125rem;
        
        }
         
        .inputBox input
        {
            
            position: relative;
            height: 3rem;
            width: 50vw;
            padding: .25rem .625rem .625rem;
            background: transparent;
            border: none;
            outline: none;
            color: #000000;
            font-size: 1em;
            letter-spacing: 0.05em;
            z-index: 10;
        }
        input[type="submit"]
        {
            font-size: 1.125rem;
            border: none;
            outline: none;
            background:#ff6f0f;
            padding: .32rem;
            margin-top: .5rem;
            border-radius: 6.625rem;
            font-weight: 37.5vw;
            cursor: pointer;
            width: 50vw;
        }
        input[type="submit"]:active
        {
            background: linear-gradient(90deg,#f13809,#bc0ae9);
            opacity: 0.8;
        }
        
        .inputBox span
        {
            position: absolute;
            left: 0;
            padding: 1.25rem .625rem .625rem;
            font-size: .9em;
            color: #333333;
            pointer-events: none;
            letter-spacing: 0.5s;
        }
        .inputBox input:valid ~ span,
        .inputBox input:focus ~ span
        {
            color: #f56f16;
            transform: translateX(-.625rem) translateY(-1.875rem);
            font-size: 0.75em; 
        }
        .inputBox i
        {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50vw;
            height: .25vh;
            background: #c51700;
            border-radius: .25rem;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }
        .links
        {
            display: flex;
            justify-content: space-between;
        }
        .links a
        {            margin: 1rem;
            font-size: 0.9rem;
            color: #c51700;
            text-decoration: #333333;
        }
        .links a:hover,
        .links a:nth-child(2)
        {
            color: #c51700;
        }
        .links2{
            display: flex;
            justify-content: space-between;
        
        }
        .links2 a{
            margin: 1rem;
            font-size: 0.9rem;
            color: #333333;
            text-decoration: #333333;
        }
        .links2 a:hover,
        .links2 a:nth-child(2)
        {
            color: #c51700;
        }
        
    }
   
/*----------------------Responsive-------------450-------------------*/
    
@media only screen and (max-width: 450px){

        
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins" , sans-serif;
    }
    body
    {
        align-items: center;
        background-image: url("img/background2.png");
       /* background: linear-gradient(20deg, #c51700, #dadada, #8709ee );   */
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: .66rem;
        min-height: 40rem;
        justify-content: center ;
        display: flex;
    }
   
    .box
    {
        height: 29.4rem;
        position: relative;
        width: 21.75rem;
        background: #38353300; 
    }
    .header{
        position: relative;
        height: 36.875rem; 
        width: 1vw;
        text-align: center;
    }
    .header h1{
        text-align: center;
        font-size: 2.5rem;
        color: #f13809;
        width: 20rem;
    }
    .title-box
    {
        
        width: 1rem;
        height: 0rem;
    }
    .title-box img
    {
        width: .188rem;
        margin-bottom: -.625rem;
    }
    .title-box p {
        width: 10rem;
        height: .0623rem;
        color: #575757;
        font-size: .9rem;
        line-height: .9rem; 

    }
    
    form
    {
        position: absolute;
        inset: .0125rem;
        width: 15.375rem;
        height: 31.88rem;
        border-radius: 3.125rem 3.125rem;
        background: #f3dcdc00;
        z-index: 10;
        padding: 1.875rem 1.25rem;
        display: flex;
        flex-direction: column;
    }
    
    h2
    {
        color: #f56f16;
        font-size: 2.1rem;
        font-weight: 31.25rem; 
        text-align: left;
    }
    
    .inputBox
    {
        position: relative;
        width: 80vw;
        margin-top: 2.125rem;
    
    }
     
    .inputBox input
    {
        
        position: relative;
        height: 3rem;
        width: 80vw;
        padding: .25rem .625rem .625rem;
        background: transparent;
        border: none;
        outline: none;
        color: #000000;
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: 10;
    }
    input[type="submit"]
    {
        font-size: 1.125rem;
        border: none;
        outline: none;
        background:#ff6f0f;
        padding: .32rem;
        margin-top: .5rem;
        border-radius: 6.625rem;
        font-weight: 37.5vw;
        cursor: pointer;
        width: 80vw;
    }
    input[type="submit"]:active
    {
        background: linear-gradient(90deg,#f13809,#bc0ae9);
        opacity: 0.8;
    }
    
    .inputBox span
    {
        position: absolute;
        left: 0;
        padding: 1.25rem .625rem .625rem;
        font-size: .9em;
        color: #333333;
        pointer-events: none;
        letter-spacing: 0.5s;
    }
    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span
    {
        color: #f56f16;
        transform: translateX(-.625rem) translateY(-1.875rem);
        font-size: 0.75em; 
    }
    .inputBox i
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80vw;
        height: .25vh;
        background: #c51700;
        border-radius: .25rem;
        transition: 0.5s;
        pointer-events: none;
        z-index: 9;
    }
    .links
{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 1rem;
    font-size: 0.9rem;
    color: #c51700;
    text-decoration: #333333;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #c51700;
}
.links2{
    display: flex;
    justify-content: space-between;

}
.links2 a{
    margin: 1rem;
    font-size: 0.9rem;
    color: #333333;
    text-decoration: #333333;
}
}

    /*=====================responsive==280===Fold=====================*/
    @media only screen and (max-width: 280px){
        .header{
            position: relative;
            height: 36.875rem; 
            width: 1vw;

            text-align: center;
        }
        .header h1{
            text-align: center;
            font-size: 2.5rem;
            color: #f13809;
            width: 17rem;
        }
        .inputBox input
        {
            position: relative;
            height: 3rem;
            width: 80vw;
            padding: .25rem .625rem .625rem;
            background: transparent;
            border: none;
            outline: none;
            color: #000000;
            font-size: .9em;
            letter-spacing: 0.05em;
            z-index: 10;
        }
        .inputBox span
        {
            position: absolute;
            left: 0;
            padding: 1.25rem .625rem .625rem;
            font-size: .9em;
            color: #333333;
            pointer-events: none;
            letter-spacing: 0.5s;
        }
        form
        {
            position: absolute;
            inset: .0623rem;
            width: 80vw;
            height: 31.88rem;
            border-radius: 3.125rem 3.125rem;
            background: #f3dcdc00;
            z-index: 10;
            padding: 1.875rem 1.25rem;
            display: flex;
            flex-direction: column;
        }
        .inputBox i
        {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 80vw;
            height: .25vh;
            background: #c51700;
            border-radius: .25rem;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }
        .title-box p {
            margin-top: 1rem;
            width: 10rem;
            height: .0623rem;
            color: #000;
            font-size: .9rem;
            line-height: .9rem; 
    
        }
        input[type="submit"]
        {
            font-size: 1.125rem;
            border: none;
            outline: none;
            background:#ff6f0f;
            padding: .32rem;
            margin-top: .5rem;
            border-radius: 6.625rem;
            font-weight: 37.5vw;
            cursor: pointer;
            width: 80vw;
        }
    .links2{
        width: 11rem;
        display: flex;
        justify-content: space-between;
    
    }
    .links2 a{
        margin: 1rem;
        width: 11rem;
        font-size: 0.9rem;
        color: #333333;
        text-decoration: #333333;
    }
    .links{
        width: 10rem;
        display: flex;
        justify-content: space-between;
    
    }
    .links a{
        margin: .5rem;
        width: 10rem;
        height: .0623rem;
        color: #c51700;
        font-size: .9rem;
    }
        
    }
