@media screen and (max-width:768px){
    body
    {
        display: flex;
        justify-content: center ;
        align-items: center;
        min-height: 100vh;
        background: #ff7700; 
    }

}